[build]
  base = "frontend/public"
  publish = "."
  command = "echo 'Frontend statique, pas de build nécessaire'"

# PRIORITÉ À L’ADMIN
[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

# SPA CLIENT
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
